@import "../../partials_styles/mixin.scss";
@import "../../partials_styles/variables";

#editor-section {
  @include box-shadow(10px, 1px);
  border-radius: 3px;

  textarea {
    @include default-screen {
      resize: vertical;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
      border-radius: 3px;
      @include width(400px, 600px);
    }

    &:focus {
      outline: none;
    }
  }

  @media (max-width: 992px) {
    textarea {
      width: 80vw;
    }
  }
}

@media (max-width: 992px) {
  .xpand {
    width: 90vw !important;
  }
}
