@import "./partials_styles/variables";
@import "./partials_styles/mixin";

html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem 2rem 3rem;
  @include background-color($main-color, 0.6);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.expand{
  height:92.5vh !important;
  width:600px;
}

.hidden{
  display:none !important;
}
